* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', "Poppins";
}

body {
    background-color: #ffffff;
}



@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
body {
    font-family: "Montserrat", sans-serif;
}


.buy_all {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #000000;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
